{
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "target": "es2019",
    "baseUrl": "./src",
    "paths": {
      "@/*": ["./*"]
    }
  },
  "module": {
    "type": "commonjs"
  }
}
